*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #444;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 1;
}
nav .nav-link,
nav a,
nav i {
  color: #fff;
}
nav .nav-link:hover,
nav a:hover {
  color: #039dff;
}
nav .fa-bars {
  padding: 10px;
}
nav .navbar-brand {
  font-weight: bold;
  color: #fff;
}
nav .navbar-nav .nav-link.active {
  color: #039dff;
}
nav .red-text {
  color: #730505;
}

header h1 {
  font-size: 30px;
  text-transform: uppercase;
}
header p {
  font-size: 14px;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/tree.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
header .hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 100px;
  text-align: center;
  z-index: 5;
}
header .btn-outline-light {
  text-transform: uppercase;
}
header .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  left: 50%;
  transition: translate(-50%);
  color: #fff;
}

section .hero-img {
  position: relative;
  height: 25vh;
  background-image: url("../img/forest-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
section .hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
section .row {
  z-index: 5;
}

.features .features-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.features .features-card-text {
  font-size: 14px;
  color: #fff;
}
.features .features-hover {
  transition: color 0.6s;
}
.features .features-hover:hover {
  color: #039dff;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.6s;
}
.aboutus .aboutus-hover:hover {
  color: #039dff;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
}
@media (min-width: 1200px) {
  header .hero-img {
    height: 500px;
    background-image: url("../img/treehd.jpg");
  }
  section .hero-img {
    background-image: url("../img/forest-large.jpg");
  }
}/*# sourceMappingURL=main.css.map */